# Run `openssl rand -base64 32` and paste the output here
AUTH_SECRET=""

# MONGODB_DB="caliche-cards"
# GUEST_DEMO_USERNAME="test"
# ADMIN_USERNAME="your_username"

# Set to "1" to show data management buttons in the UI (dev only)
# NEXT_PUBLIC_ENABLE_DEV_PURGE="1"
